@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&family=Montserrat+Subrayada&display=swap");

.logo {
  height: 45px;
}

.loading {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  min-height: 100%;
  font-size: 18px;
  background: rgb(95, 92, 92);
  position: relative;
}

ul {
  list-style: none;

  h4 {
    margin: 0;
  }
}

.container {
  margin: 0 auto 100px auto;
  max-width: 1100px;
}

.form-container {
  height: 100%;
  width: 100vw;
  margin: 0 auto;

  .form {
    padding: 10px 10px 40px 10px;
    margin: 10px auto 100px;
    max-width: 500px;
    text-align: center;

    h1 {
      font-size: 50px;
      margin: 20px 0;
    }
  }
}

// Main component styles
.App {
  min-height: calc(100vh - 240px);
  position: relative;
  display: block;
  padding-bottom: 240px;
  overflow: hidden;

  // Topbar component styles
  .topbar {
    .topbar-content {
      max-width: 1100px;

      * {
        color: white;
      }
    }
  }

  .content {
    max-width: 88%;
    margin: 0 auto;
    color: rgb(233, 230, 230);
  }

  // Footer component styles
  .footer {
    background: rgb(255, 255, 255);
    position: absolute;
    height: 240px;
    bottom: 0;
    left: 0;
    right: 0;

    .footer-content {
      max-width: 1100px;
      // border-top: 1px solid rgb(70, 65, 65);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    .footer-1,
    .footer-2 {
      flex: 1 0 0;
    }

    .footer-3 {
      flex: 1 100%;
    }
  }
}

@media only screen and(min-width: 700px) {
  body {
    font-size: 20px;
  }
  .App {
    min-height: calc(100vh - 130px);
    padding-bottom: 130px;

    .footer {
      height: 130px;

      .footer-3 {
        flex: 1 0 0;
      }
    }
  }
}

@media only screen and(min-width: 1024px) {
  .App {
    .topbar-content {
      width: 80%;
      margin: 0 auto;
    }

    .content {
      width: 80%;
    }
  }
}

// @media only screen and (min-width: 1200px) {
//   .App {
//   }
// }

// @media only screen and (min-width: 1500px) {
//   .content {
//   }
// }
