@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  margin: 0;
  font-family: Montserrat;
  min-height: 100vh;
  font-size: 18px;
  color: rgb(44, 43, 43);
  background: linear-gradient(160deg, #81bb8b 0%, #73449c 100%);
}

.App {
  text-align: center;

  .top-bar {
    background: rgba(150, 143, 143, 0.5);
    color: rgb(44, 43, 43);
  }

  .link {
    text-decoration: none;
    color: rgb(44, 43, 43);
    font-weight: 700;
  }
}

.landing {
  max-width: 80%;
  margin: 0 auto;

  .header {
    text-align: left;
    font-size: 40px;
    text-decoration: underline;
  }
  .inner {
    text-align: center;
    margin: 5em auto;

    .search {
      max-width: 90%;
      margin-top: 2em;
    }

    .button {
      margin: 1em;
    }
  }
}

.main {
  max-width: 70%;
  margin: 0 auto;
}

@media only screen and(min-width: 700px) {
  body {
    font-size: 20px;
  }

  .landing {
    margin-top: 3em;
  }

  .search {
    width: 400px !important;
  }
}

@media only screen and(min-width: 1024px) {
  .landing {
    margin-top: 4em;
    position: relative;

    .header {
      margin: 1em;
    }

    .inner {
      display: grid;
      grid-template-columns: auto 55%;
      margin: 7em auto !important;

      h2 {
        text-align: left;
        padding: 0 2em;
      }

      .search {
        width: 300px !important;
        align-self: center;
        justify-self: center;
        margin-left: 4em;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  .inner {
    width: 85%;
  }
}
