.dashboard {
  max-width: 1100px;
  margin: 0 auto 100px auto;
  background: rgba(54, 54, 54, 0.8);
  padding: 10px;

  .dashboard-header {
    display: flex;
    align-items: center;
    margin: 0 13px 10px 13px;

    .dashboard-avatar {
      width: 80px;
      height: 80px;
      background: rgb(105, 61, 61);
    }
    h1 {
      margin-left: 20px;
      color: rgb(255, 255, 255);
      display: inline-block;
    }
  }

  .dashboard-content {
    color: white;
    padding-bottom: 100px;
  }
}

.list {
  border-top: 1px solid rgb(83, 79, 79);
  padding: 13px 0 60px 0;
  margin: 3px;

  * {
    color: white;
  }

  h6 {
    margin-left: 13px;

    span {
      margin-right: 13px;
    }
  }

  .plus-button {
    float: right;
    margin: 7px 12px 0 0;
  }

  .button-container {
    background: rgb(54, 53, 53);
  }

  .list-item-image {
    width: 100%;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
      background-color: #000;
      opacity: 0.9;
    }
  }

  .list-badge {
    float: right;
  }
}

.game-form-content {
  margin-bottom: 20px;
}
.game-form-notice {
  background: rgb(245, 155, 20);
  padding: 10px;
  color: rgb(255, 255, 255);
}

.match-list {
  h4 {
    font-weight: 500;
  }

  &:hover > * {
    cursor: pointer;
  }
}

.add-game-form > * {
  width: 500px;
}

@media only screen and(min-width: 700px) {
  .dashboard {
    .dashboard-header {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .list {
      margin: 5px;
    }
  }
}

@media only screen and(min-width: 1024px) {
  .dashboard {
    margin-top: 10px;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1500px) {
}
